@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = @language.Getkey("Restrict Page");
}

<p>@language.Getkey("Restrict Page Description")<a asp-controller="Home" asp-action="Index">@language.Getkey("Return Home")</a></p>