@{
    ViewData["Title"] = "Home Page";
}
@inject LanguageService language

<div class="text-center">
    <h1>@language.Getkey("Welcome to Voting System.")</h1>

</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
        @TempData["ErrorMessage"]

    </div>
}
