@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>"Customer Privacy Notice:</p>
   
<p>At EvotingSystem SBMM, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Notice explains how we collect, use, and safeguard your data when you use our online Evoting System.</p>
   
   <p>Collection of Personal Information:</p>
   
   <p> We collect personal information such as name, email address, and voting preferences when you register to use our Evoting System.
   Additional information may be collected during the voting process to verify your eligibility and ensure the integrity of the voting process.
   Use of Personal Information:</p>
   
   <p>Your personal information is used solely for the purpose of facilitating the voting process and ensuring the accuracy and security of the results.
   We do not sell, rent, or share your personal information with third parties for marketing purposes.
   Security Measures:</p>
   
   <p>We employ industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.
   All data transmitted through our Evoting System is encrypted using secure socket layer (SSL) technology.
   Access to personal information is restricted to authorized personnel who have a legitimate need to access it.
   Third-Party Services:</p>
   
   <p>In some cases, we may use third-party service providers to assist us in operating our Evoting System. These providers are contractually obligated to adhere to strict confidentiality and security standards.
   Data Retention:</p>
   
   <p>We retain your personal information only for as long as necessary to fulfill the purposes outlined in this Privacy Notice or as required by law.
   Your Rights:</p>
   
   <p>You have the right to access, update, or delete your personal information at any time. You can do so by contacting us using the contact information provided below.
   Changes to this Privacy Notice:</p>
   
   <p>We reserve the right to update or modify this Privacy Notice at any time. Any changes will be effective immediately upon posting the revised Privacy Notice on our website.
   Contact Us:</p>
   
   <p>If you have any questions or concerns about our privacy practices or this Privacy Notice, please contact us at Assignmentwork@anyemail.com.
   By using our Evoting System, you consent to the collection, use, and disclosure of your personal information as described in this Privacy Notice. Thank you for trusting EvotingSystem SBMM with your information.".</p>